@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');



h1 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

#three {
    max-width: 800px;
    height: auto;
    justify-content: center;
    align-content: center;
    background-color: hsl(0, 0%, 95%);
}

.container ul {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    max-height: 40rem;
    list-style-type: none;
}

.individual {
    background-color: gray;
    height: 18rem;
    width: 13.2rem;
    color: white;
    padding: 3rem 3rem;
}

.one {
    background-color: hsl(31, 77%, 52%);
    border-radius: 8px 0 0 8px;
}

.two {
    background-color: hsl(184, 100%, 22%);
}

.three {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 8px 8px 0;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    Font-size: 15px;
    padding-bottom: 2rem;
}

button {
    padding: .7rem 2rem;
    border-radius: 25px;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
}

.one button {
    color: hsl(31, 77%, 52%);
}

.two button {
    color: hsl(184, 100%, 22%);
}

.three button {
    color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 375px){
    .container ul {
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        max-height: 40rem;
        list-style-type: none;
    }

    .one {
        background-color: hsl(31, 77%, 52%);
        border-radius: 8px 8px 0 0;
    }
    
    .three {
        background-color: hsl(179, 100%, 13%);
        border-radius: 0 0 8px 8px;
    }
}
